.timeline{
    &::before {
        content: "";
        position: relative;
        top: 0px;
        left: 25%;
        bottom: 0px;
        width: 2px;
        background-color: #e9ecef;
    }
    .timeline-box:nth-child(odd) {
        text-align: right;
        transform: translateX(-50%);
        padding-right: 30px; 
        .timeline-icon {
            right: -7px;
            top: 55px;
            position: absolute;
        }
    }
    .timeline-box:nth-child(even) {
        transform: translateX(50%);
        padding-left: 30px;
        .timeline-icon {
            left: -9px;
            top: 55px;
            position: absolute;
        }
    }
}